<div class="book-cover animate-pop" [ngClass]="[categoryTheme[book.category].coverClass, compact ? 'compact' : '']">
  <div>
    <i class="bi cover-icon" [ngClass]="categoryTheme[book.category].icon"></i>
    <div class="cover-title">{{ book.title }}</div>
    <div class="cover-author" *ngIf="book.author">{{ book.author }}</div>
  </div>

  <div class="cover-footer">
    <app-star-rating [value]="book.priority" size="0.75rem"></app-star-rating>
    <span class="status-pill">{{ statusLabels[book.status] }}</span>
  </div>

  <div class="cover-actions" *ngIf="showActions">
    <button
      *ngIf="nextStatusLabel"
      type="button"
      class="btn-icon"
      title="Passer à : {{ nextStatusLabel }}"
      (click)="advance.emit()"
    >
      <i class="bi bi-arrow-right-circle"></i>
    </button>
    <button type="button" class="btn-icon" title="Modifier" (click)="edit.emit()">
      <i class="bi bi-pencil"></i>
    </button>
    <button type="button" class="btn-icon danger" title="Supprimer" (click)="remove.emit()">
      <i class="bi bi-trash"></i>
    </button>
  </div>
</div>
